.nav{
    width: 20%;
    max-width: 400px;
    background-color: #005AA9;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 1.5rem 1.4rem;
    gap: 6rem;

    &__container--right{
        // width: 35%;
        display: flex;
        flex-direction: column;
        // align-items: baseline;
        // justify-content: flex-end;
        gap: 3rem;
    }

    &__btn-notification, &__btn-menu{
        background-color: inherit;
        border: none;
        font-size: 1.2rem;
        text-align: left;

        &:hover{
            cursor: pointer;
        }
    }
    
    &__link{
        text-decoration: none;
        font-size: 1.2rem;
    }


}