.card{
    background-color: ghostwhite;
    width: 95%;
    //adaptado a componente de detalle
    max-width: 450px;
    margin: auto;
    padding: 0.8rem 0.5rem 0.9rem 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    &__img{
        width: 100%;
    }
    &__title{
        margin: 0.4rem 0;
        color: #00A859;
        font-weight: bold;
    }
    &__description{
        font-style: italic;
    }
    &__button{
        margin-top: 1rem;
        border: none;
        width: 35px;
        padding: 0.5rem 0.4rem;
        border-radius: 0.3rem;
        font-size: 1rem;
        text-align: center;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    }
    &__likeButton_normal{
        @extend .card__button;
        color: #dc143c;
    }
    &__likeButton_active{
        @extend .card__button;
        background-color: #dc143c;
        color: #fff;
    }
    &__commentButton{
        @extend .card__button;
        color: #00FFBF;
        margin-left: 0.5rem;

        &:hover{
            background-color: #00FFBF;
            color: #fff;
        }
    }
}

.commentlist{
    width: 95%;
    max-width: 450px;
    margin: auto;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.commentCard{
    margin-bottom: 0.6rem;
    padding: 0.8rem;
    border-bottom: solid 1px lightgray;
    &__icon{
        width: 8%;
        margin-right: 0.5rem;
    }

    &__text{
        font-size: 0.9rem;
        line-height: 1.2;
    }

    &__textLight{
        @extend .commentCard__text;

    }
    &__textBold{
        @extend .commentCard__text;
        color: slategrey;
        font-weight: bold;
    }
}

.wrapper{
    display: inline-block;
}


